<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Match Match</title>
  <meta name="description" content="Match Match game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
	<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
	<!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
<div id="gameArea">
  <div class="status" ng-if="game.getStatus() != 0">
    {{game.getScores()[0][0]}}: {{game.getScores()[1][0]}}
    {{game.getScores()[0][1]}}: {{game.getScores()[1][1]}}
    <div ng-if="game.getStatus() == 1">
      <button ng-click="game.setStatus(2)">
        Show history
      </button>
    </div>
    <div ng-if="game.getStatus() == 2">
      <button ng-click="game.setStatus(1)">
        Back
      </button>
    </div>
  </div>
	<div class="board" ng-if="game.getStatus() == 0">
		<div ng-if="game.showChoosePanel()">
			<p class="wait">Please choose game size:</p>
			<div class="sizebtn" ng-click="game.chooseSize(3,4)">3 X 4</div>
			<div class="sizebtn" ng-click="game.chooseSize(4,4)">4 X 4</div>
			<div class="sizebtn" ng-click="game.chooseSize(4,5)">4 X 5</div>
		</div>
		<div ng-if="!game.showChoosePanel()">
			<p class="wait">Your opponent is choosing game size. Waiting...</p>
			<div class="loader"></div>
		</div>
	</div>
  <div class="board" ng-if="game.getStatus() == 1">  
		<div ng-repeat="row in game.getRowArray()"
			style="position:absolute; top:{{row * game.getHeight()}}%; left:0; width:100%; height:{{game.getHeight()}}%;">
			<div ng-repeat="col in game.getColArray()"
				 style="position:absolute; top:0; left:{{col * game.getWidth()}}%; width:{{game.getWidth()}}%; height:100%;">
      
        <div class="container" ng-click="game.cellClicked(row, col)"
					ng-style="game.getCellStyle(row, col)">
          <div class="card" ng-class="{flipped: game.isFlipped(row, col)}">
              <img class="front" ng-src="img/back.png">
              <img class="back" ng-src="img/{{game.getImage(row, col)}}.png">
          </div>
				</div>
			</div>
		</div>
	</div>
	<div class="board" ng-if="game.getStatus() == 2">
    <div ng-repeat="row in game.getRowArray()"
			style="position:absolute; top:{{row * game.getHeight()}}%; left:0; width:100%; height:{{game.getHeight()}}%;">
			<div ng-repeat="col in game.getColArray()"
				 style="position:absolute; top:0; left:{{col * game.getWidth()}}%; width:{{game.getWidth()}}%; height:100%;">
      
        <div class="container" ng-style="game.getCellStyle(row, col)">
          
          <div class="card">
              <div ng-if="!game.isHistoryMove(row,col)">
                <img class="front" ng-src="img/back.png">
                <img class="back" ng-src="img/{{game.getImage(row, col)}}.png">
              </div>
              <div ng-if="game.isHistoryMove(row,col)">
                <img class="front" ng-src="img/{{game.getImage(row, col)}}.png">
                <img class="back" ng-src="img/back.png">
              </div>
          </div>
        
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
