<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Match Match</title>
  <meta name="description" content="Match Match game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
<div id="gameArea">
  <div>
    {{game.getScores()[0][0]}}: {{game.getScores()[1][0]}}
    {{game.getScores()[0][1]}}: {{game.getScores()[1][1]}}
  </div>
  <table>
  <tr ng-repeat="row in [0, 1, 2, 3]">
    <td ng-repeat="col in [0, 1, 2, 3]" ng-click="game.cellClicked(row, col)">
      
        <div class="container">
          <div class="card" ng-class="{flipped: game.isFlipped(row, col)}">
              <img class="front" ng-src="img/back.png">
              <img class="back" ng-src="img/{{game.getImage(row, col)}}.png">
          </div>
      </div>
  </td>
  </tr>
  </table>
</div>

</body>
</html>